@import 'config';
@import 'menu';

// * = all
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  // & - want it to be attached to class (h1.---)
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    // rgba for opacity
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);

    &.no-background {
      background: $primary-color;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  //always top right
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  // full page minus footer (sticky footer)
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      // a:hover
      &:hover {
        color: $secondary-color;
        // CSS transition = taking time to do something
        @include easeOut();
      }
    }
  }

  // any main with id of home
  &#home {
    // always not have scroll bars
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

//! start working area !//
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
    width: 200px;
    height: 200px;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;

    .subtle {
      font-size: 1rem;
      color: $secondary-color;
    }
  }

  // todo: html button below
  .job-1 {
    grid-area: job1; //? impact
    height: 6rem;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;

    .plane-side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      text-align: center;
      line-height: 2;
      background-color: rgba($lighten-primary, 0.25);
      transform-style: preserve-3d;
      backface-visibility: hidden;
      transition: 1s;
    }

    .front {
      transform: rotateX(0deg) translateZ(15px);
      //background-color: (lighten($primary-color, 5), 0.5);
      padding-top: -1rem;
      border-bottom: $secondary-color 5px solid;
      font-size: 3rem;
    }
    &:hover .front {
      transform: rotateX(-180deg) translateZ(100px);
      cursor: pointer;
    }
    .back {
      transform: rotateX(180deg) translateZ(100px);
      //background-color: (lighten($primary-color, 5), 0.5);
      border-top: $secondary-color 5px solid;
      padding-left: 0.25rem;
      padding-top: 0.6rem;
      line-height: 1.5rem;
      text-align: start;

      code.htmlCode {
        font-size: 1.5rem;

        .div {
          color: rgb(31, 228, 31);
        }
        .classSpan {
          color: rgb(255, 0, 0);
        }
      }
    }
    &:hover .back {
      transform: rotateX(0deg) translateZ(20px);
      cursor: pointer;
    }
    .center {
      background-color: rgba($lighten-primary, 1);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;
    }
    .center:before {
      background-color: rgba($lighten-primary, 0.5);
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //background: lighten($primary-color, 5);
      transform: translateZ(-1px);
    }
    &:hover .center {
      transform: rotateX(-180deg);
    }
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;

    &:hover {
      cursor: pointer;
    }

    h1 {
      font-size: 3rem;
    }
  }
}
//! end working area !//

// Work/Projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

#contact {
  text-align: center;

  .contact-heading {
    margin-top: 20vh;
    font-size: 5rem;
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

@import 'mobile';
